* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #454545;
  padding: 0;
  margin: 0;
  background-color: #f8f8fa;
  line-height: 1.5em;
}

h1 {
  margin-top: 90px;
}

p {
  font-family: "Courier New", Courier, monospace;
  opacity: 0.9;
}

a {
  text-decoration: none;
  color: #377cf3;
}

.button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #377cf3;
  margin-left: 20px;
  cursor: pointer;
  white-space: nowrap;
}

main {
  padding: 30px;
  max-width: 600px;
  margin: auto;
}

.navigation {
  position: fixed;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding-right: 20px;
  height: 50px;
  border-radius: 8px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 0 20px;
  background-color: white;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.top .button {
  margin-left: 0;
}

footer {
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
}

@media screen and (min-width: 900px) {
  h1.first-heading {
    margin-top: 10px;
  }
  .button {
    padding: 4px 10px;
    border-radius: 4px;
    -webkit-transition: background-color 200ms ease-out;
    transition: background-color 200ms ease-out;
    line-height: 1.5em;
  }
  .button:hover {
    background-color: #ebebf0;
  }
  .navigation {
    left: initial;
    right: 50%;
    -webkit-transform: translateX(-320px);
            transform: translateX(-320px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: initial;
    width: 140px;
    padding: 0 20px 10px 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: initial;
  }
  .navigation .button {
    margin: 0;
    margin-top: 10px;
    white-space: normal;
  }
  .top {
    right: initial;
    background-color: initial;
    -webkit-box-shadow: none;
            box-shadow: none;
    left: 50%;
    -webkit-transform: translateX(320px);
            transform: translateX(320px);
  }
}
/*# sourceMappingURL=main.css.map */